html *{
  font-size: 1em !important;
     color: #e9d8d8 !important;
     font-family: Arial !important;
     font-weight: bold;
     text-shadow:0px 0px 10px 0px #45B8AC !important;
  }

body {
  background-image: url('/dist/images/AdobeStock_571093886.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
