html *{
  font-size: 1em !important;
     color: #ff8c28 !important;
     font-family: Monaco !important;
     font-weight: normal;
     text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000,-1px 2px 0 #000000, 1px 2px 0 #000000; 
  }

body {
  background-image: url('/dist/images/resizedmain.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

#left{
  margin: 65px 15px;
  background-image: url('/dist/images/AdobeStock_wide.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 47%;
  height: 505px;
  
}
#tripArea {
  margin: 20px 10px;
  padding: 32px 32px;
}

#totalsArea {
  margin: 75px 250px; 
}

#total-spent{
  margin: 0px 0px;
}

#date-table {
  padding: 0px;
  margin: 15px;
}

#trip-request {
  width: 40%;
  padding: 20px;
  margin-left: 20px;
  background-image: url('/dist/images/AdobeStock_wide.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 26%;
  height: 500px;  
}

th{
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
}

h2{
  border: 2px solid #1eccfc;
  border-radius: 5%;
  background-color: #58cff0;
  width: 140px;
  border-radius: 25%;
  border: groove;
}

h3{
  background-color: transparent;
  /* background-color: #58cff0; */
  font-weight: 500;
  border-radius: 25%;
  border: groove;
  width: 187px;
  
}

#date{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
}

#id{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
}

#destination{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;

}

#duration{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
}

#travelers{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;

}
#submit{
  background-color: transparent;
  background-color: #58cff0;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  height: 50px;
  width: 100px;

}

#login-form {
  margin: 20px auto;
  text-align: center;
}

#username{
  background-color: transparent;
  border-radius: 25%;
  border: groove;
}

text{
  background-color: transparent;
}

#password{
  background-color: transparent;
  border-radius: 25%;
  border: groove;
}

#submit2{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  margin: 12px;
}

#text{
  color: #ff8c28
}