html *{
  font-size: 1em !important;
     color: #ff8c28 !important;
     font-family: Monaco !important;
     text-align: center;
     font-weight: normal;
     text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000,-1px 2px 0 #000000, 1px 2px 0 #000000; 
  }

body {
  background-image: url('/dist/images/resizedmain.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  background-image: url('/dist/images/AdobeStock_wide.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  flex: 50%;
  padding-top: 1%;
  padding-left: 3%;
  height: 800px; /* Should be removed. Only for demonstration */
  margin: 5px;
}

/* #left{
   
  background-image: url('/dist/images/AdobeStock_wide.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 47%;
  height: 505px;
  
} */




#total-spent{
  margin: 0px 0px;
}

#date-table {
  padding: 0px;
  margin: 5%;
}

/* #trip-request {
  width: 40%;
  padding: 20px;
  margin-left: 20px;
  background-image: url('/dist/images/AdobeStock_wide.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 26%;
  height: 500px;  
} */

th{
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

h2{
  border: 2px solid #1eccfc;
  border-radius: 5%;
  background-color: #58cff0;
  width: 140px;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

h3{
  background-color: transparent;
  /* background-color: #58cff0; */
  font-weight: 500;
  border-radius: 25%;
  border: groove;
  width: 187px;
  align-items: center;
  padding: 2%;
  
}

#date{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

#id{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

#destination{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;

}

#duration{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

#travelers{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  align-items: center;

}
#submit{
  background-color: transparent;
  background-color: #58cff0;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  height: 50px;
  width: 100px;
  align-items: center;
}

#login-form {
  margin: 20px auto;
  text-align: center;
  align-items: center;
}

#username{
  background-color: transparent;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

text{
  background-color: transparent;
  align-items: center;
}

#password{
  background-color: transparent;
  border-radius: 25%;
  border: groove;
  align-items: center;
}

#submit2{
  background-color: transparent;
  background-color: #58cff0;
  border-radius: 25%;
  border: groove;
  margin: 12px;
  align-items: center;
}

#text{
  color: #ff8c28
}